*{
    box-sizing: border-box;
}

body {
    background-color:rgb(105, 107, 88);
}

#cardsWrapper {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 500px;
    min-width: 320px;
    margin: 30px auto;
}

.card {
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    border-radius: 5px;
    border: 1px solid black;
    margin: 0 0 20px;
    padding: 5px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.cardTitle {
    font-weight: 700;
    font-size: 18px;
    margin: 0 0 5px;
}

.cardText {
    display: block;
    margin: 0 0 15px;
}

.cardUserName,
.cardUserMail {
    display: block;
    font-weight: 600;
}

.cardUserName {
    margin: 0 0 5px;
}

.cardBtn {
    display: flex;
    justify-content: flex-end;
}
.cardBtn button{
    background-color: #94a4f5;
    border: 1px solid black;
    border-radius: 3px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.cardBtn button:hover {
    background-color:#3f5efb;
}